@{
    ViewBag.Title = "Accueil";
}

<head>
    <title>Stage en programmation - C2T3</title>
    <title>STAGE C2T3</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="icon2.png">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style>
        /* IMPORTANT: Toujours définir l'attribut "Height" de la carte */
        #map {
            height: 600px;
            width: 100%;
            margin: 0 auto;
        }
    </style>
</head>
<body>

    <!-- PAGE BODY -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="background-color:transparent ;  width:100%">
                <h1 style="text-align: center">
                    Stage en programmation<br>
                    <small>Démo des fonctionnalités recherchées</small>
                </h1>
            </div>
        </div>
        <div class="row spacer" style="background-color:white"></div>
        
        <!-- /.row -->
        <div class="container-fluid">
            <div class="row" style="text-align: center">
                <!-- Form Name -->
                <h2 style="text-align: center; width:100%">Localisation</h2>
                <hr />
                @if (ViewBag.positionEnregistree != null) /*Affiche un message confirmant l'enregistrement de la position*/
            {
                    <div style="width:300px;
               height:70px;
               background-color: lightgreen;
               display: inline-block;
               vertical-align: text-top">
                        <h3 style="text-align: center; margin-left: 5%; margin-top: 10px"><span> POSITION ENREGISTRÉE </span></h3>
                    </div>
                }
                <div class="row">
                    <!--Les classes suivantes définissent que ce DIV doit prendre la largeur de l'écran sur un très petit appareil, alors qu'il ne devra prendre que la moitié de l'écran
                       sur tout appareil plus grand-->
                    <div class="col-xs-12
                  col-md-6
                  col-xl-6"
                         align="center" id="bouton">
                        <input type="button" class="btn btn-info" value="Obtenir ma position " onclick="initMap();">
                    </div>
                    <!--Enregistrement de la position en BD-->
                    @using (Html.BeginForm("CreerEntreeGPS", "Home", null, FormMethod.Post, new { @id = "gps", @name = "myForm" }))
                    {
                        <div class="col-xs-12 col-md-6 col-xl-6" align="center">
                            <input type="button" class="btn btn-info" value="Enregistrer en BD" onclick="enregistrerPosition()">
                        </div>
                        <br>
                        <div id="champsGPS">
                            <label class="mg-right " for="txtLat">Latitude</label><input type="text"
                                                                                         style="height: 30px"
                                                                                         name="lat" id="txtLat" class="taille30 form-control"><br>
                            <label class="mg-right ">Longitude</label><input type="text" name="long"
                                                                             style="height: 30px"
                                                                             id="txtLong" class="taille30 form-control"><br>
                            <!--     <input type="text" class="form-control" name="id_appareil" id="id_appareil" value="Appareil 1">-->
                            <div style="text-align: center">
                                <label class="mg-right " style="margin-bottom: 10px" for="id_appareil">Appareil</label>
                                <select name="id_appareil" class="form-control" id="id_appareil" style="display: block;margin: 0 auto;">
                                    
                                    @{
                                        foreach (WEB_APP_C2T3.Models.Appareil ap in ViewBag.appareils)
                                        {
                                            <option value="@ap.Id">@ap.nom_appareil </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                                        }
                    <h3 style="text-align:center"> Entrées existantes</h3>
                    <!--Génération du tableau de positions GPS-->
                    @{
                        List<WEB_APP_C2T3.Models.EntreeGPS>
                        a = ViewBag.gps;
                        <div style="text-align: center">
                            <table style="width: 90%" align="center" cellspacing="10" cellpadding="8">
                                <tr>
                                    <th>Appareil</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th id="Afficher"></th>
                                    <th id="supprimer"></th>
                                </tr>
                                @for (int i = 0; i < a.Count; i++)
                                {
                                    <tr style="text-align: center" id=@{ Write("\""); Write(a[i].Id); Write("\"");}>
                                        <td> @{Write(a[i].appareil.nom_appareil);} </td>
                                        <td> @{Write(a[i].latitude);} </td>
                                        <td>@{Write(a[i].longitude); } </td>
                                        <td>
                                            <button class="btn btn-info marker" value="Afficher sur la carte" onclick="var pos = {lat: @a[i].latitude.ToString().Replace(",",".") , lng:  @a[i].longitude.ToString().Replace(",", ".")}; map.setCenter(pos);         var marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        title: '@a[i].appareil.nom_appareil',
                        label:  '@a[i].appareil.nom_appareil'
                        }); infoWindow.close();">
                                                <span class="glyphicon glyphicon-map-marker"></span>
                                            </button>
                                        </td>
                                        <td> <a><span class="glyphicon glyphicon-remove" onclick="supprimerRangee(@{Write(a[i].Id);})"></span> </a></td>
                                    </tr>
    }
                            </table>
                            <script>
                     $("tr:odd").css("background-color", "#F3F3F3");
                     $("tr:even").css("background-color", "#E0E0E0");
                     $("th").css("background-color", "#C0C0C0");
                            </script>
                        </div>
                    }
                    <div class="col-xs-12">
                        <!--Important, la carte doit toujours prendre la largeur complète de l'écran,
                           même sur les appareils les plus petits.-->
                        <div id="map"></div>
                    </div>
                    <div style="text-align: center">
                        <br />
                        <button onclick="initMap()" class="btn btn-info">Effacer les marqueurs</button>
                    </div>
                </div>
                <br><br>
                <button id="btnStartStopTracking" class="btn btn-default" style="color:white">Démarrer le Tracking</button><br />
                <span id="last_update"></span>
                <br /><br />
                <script>
               $("#btnStartStopTracking").css("background-color", "red");
               $('#btnStartStopTracking').click(function () {
                   TrackPosition = !TrackPosition;
                   if (TrackPosition) {
                       startTracking();
                   } else {
                       clearInterval(idInterval);
                       $("#btnStartStopTracking").css("background-color", "red");
                       $("#btnStartStopTracking").html("Démarrer le Tracking")
                   }

               });
                </script>
                <form class="form-horizontal">
                    <fieldset>
                        <legend style="text-align: center">Envoi et réception d'alertes au serveur</legend>
                        <div class="row">
                            <div class="col-xs-6" style="text-align: center">
                                <div class="row">
                                    <span id="rectangle" align="center">État du serveur</span>
                                    @{
                                        if (ViewBag.nbAlertes > 0)
                                        {
                                            <script>document.getElementById("rectangle").style.backgroundColor = "red";</script>
                                        }
                                        
}
                                </div>
                            </div>
                            <div class="col-xs-6"><input type="button" class="btn btn-info" name="Envoyer une alerte" value="Envoyer une alerte" align="center" style="margin-top: 32px;" onclick="envoyerAlerte()"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="text-align: center">
                                
                                <button class="btn btn-success" type="button" onclick="resetAlertes();">Effacer les alertes</button>
                            </div>
                        </div>
                        
                    </fieldset>
                </form>
                <br><br>
            </div>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxF-Wa_6YWDRLneBhqqIqkkNXlwMaKN1I&callback=initMap" async defer></script>
</body>